$primary: #f4f3ee;
$secondary: #d8d8d8;
$background: #cfcfcf;
$logo: #262626;
$h1: #463f3a;
$a-p: #8d8d8d;
$dark-pink: #c32c72;

$square1: #ffffff;
$square2: #e0e0d8;
$square3: #c32c72;

$navbar-light-active-color: #c32c72;
